@import url('https://fonts.cdnfonts.com/css/alliance-no1');

*{
    font-family: 'Alliance No.1', sans-serif;
}

.header img{
    width: 100%;
    position: relative;
}

.header{
    position: relative;
}

.title{
    position: absolute;
    z-index: 1;
    top: 80%;
    left: 50%;
    transform: translate(-50%,-92%);
    color: white;
    font-size: 50px;
}

body{
    margin: 0px;
}

.container{
    display: flex;
}

.left-sidebar{
    width: 25%;
    float: left;
}

.left-sidebar img{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-bottom: 5%;
}

.left-sidebar p {
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
}

.content{
    float: left;
    width: 50%;
    margin: auto;
    box-shadow: 10px 10px;
    background-color:antiquewhite;
    padding: 15px;
    margin-bottom: 20px;
    margin-top: 5px;
}

.right-sidebar{
    width: 25%;
    float: left;
}

.banner-coffee{
    width: 70%;
    box-shadow: 10px 10px;
    background-color:antiquewhite;
    margin-left: auto;
    margin-right: auto;
}

.tutorial img[alt="tutorial-1"]{
    width: 100%;
}

.tutorial img[alt="tutorial-2"]{
    width: 40%;
}

/*@media only screen and (max-width: 768px){
/*@media only screen and (-webkit-min-device-pixel-ratio: 3.5){*/
@media all and (max-width: 768px){
    .container{
        display: block;
    }

    .right-sidebar{
        width: 0%;
        float: none;
    }

    .left-sidebar{
        width: 80%;
        float: none;
        margin-left: auto;
        margin-right: auto;
    }

    .banner-coffee{
        width: 60%;
        box-shadow: 10px 10px;
        background-color: antiquewhite;
        margin-left: auto;
        margin-right: auto;
    }

    .banner-coffee img{
        width:70%;
    }

    .content{
        float: none;
        width: 90%;
        margin: auto;
        box-shadow: 10px 10px;
        background-color:antiquewhite;
        padding: 15px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    a, p{
        font-size: 16pt;
    }

    h1{
        font-size: 40px;
    }

    h3{
        font-size: 35px;
    }
}